In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [4]:
df = pd.read_csv("Bengaluru_House_Data.csv")
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df["area_type"].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [17]:
df["area_type"].replace({"Super built-up  Area":0,"Built-up  Area":1,"Plot  Area":2,"Carpet  Area":3})

0        0
1        2
2        1
3        0
4        0
        ..
13315    1
13316    0
13317    1
13318    0
13319    0
Name: area_type, Length: 13320, dtype: int64

In [18]:
df["availability"].nunique()

81

In [19]:
df["availability"]

0               19-Dec
1        Ready To Move
2        Ready To Move
3        Ready To Move
4        Ready To Move
             ...
13315    Ready To Move
13316    Ready To Move
13317    Ready To Move
13318           18-Jun
13319    Ready To Move
Name: availability, Length: 13320, dtype: object

In [20]:
df["availability"].value_counts()

Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64

In [21]:
import re

In [24]:
a=re.findall("[/d]2-[A-Za-z]3",df["availability"])

TypeError: expected string or bytes-like object

In [26]:
a=np.where(df["availability"]!="Ready To Move")

In [27]:
a

(array([    0,     6,    10, ..., 13295, 13299, 13318], dtype=int64),)

In [31]:
df["availability"]=df["availability"].replace(d)

NameError: name 'd' is not defined

In [32]:
a.index

In [33]:
df["availability"].iloc[a]

0        19-Dec
6        18-May
10       18-Feb
21       19-Dec
24       18-Nov
          ...
13291    18-Jan
13292    18-Jul
13295    18-Feb
13299    18-Dec
13318    18-Jun
Name: availability, Length: 2739, dtype: object

In [35]:
for i in a:
    df["availability"][i]="not ready to movve"
df["availability"]

C:\Users\DELL\AppData\Local\Temp\ipykernel_20216\3069606461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["availability"][i]="not ready to movve"

0        not ready to movve
1             Ready To Move
2             Ready To Move
3             Ready To Move
4             Ready To Move
                ...
13315         Ready To Move
13316         Ready To Move
13317         Ready To Move
13318    not ready to movve
13319         Ready To Move
Name: availability, Length: 13320, dtype: object

In [36]:
df["availability"].value_counts()

Ready To Move         10581
not ready to movve     2739
Name: availability, dtype: int64

In [41]:
df["availability"]=df["availability"].replace({"Ready To Move":0,"not ready to movve":   1})

In [42]:
df["availability"]

0        1
1        0
2        0
3        0
4        0
        ..
13315    0
13316    0
13317    0
13318    1
13319    0
Name: availability, Length: 13320, dtype: int64

In [43]:
df["availability"].value_counts()

0    10581
1     2739
Name: availability, dtype: int64

In [44]:
df["location"].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [ ]:
df["location"].fillna("Whitefield                        ")